/* yomogi-regular - latin */
@font-face {
  font-family: 'Yomogi';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/yomogi-v2-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/yomogi-v2-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/yomogi-v2-latin-regular.woff2") format("woff2"), url("../assets/fonts/yomogi-v2-latin-regular.woff") format("woff"), url("../assets/fonts/yomogi-v2-latin-regular.ttf") format("truetype"), url("../assets/fonts/yomogi-v2-latin-regular.svg#Yomogi") format("svg");
  /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  background-color: #0B1D26;
}

.wrapper {
  max-width: calc(100% - 100px);
  margin: 0 auto;
  display: grid;
  grid-template: minmax(80px, auto) 1fr minmax(40px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

@media screen and (max-width: 1400px) {
  .wrapper {
    max-width: calc(100% - 60px);
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: calc(100% - 50px);
  }
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  border-radius: 5px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex_align-start {
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex_align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_align-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex_space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_self-start {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.flex_wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex_nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.text-center {
  text-align: center;
}

.flex_basis-33 {
  -webkit-flex-basis: 33.33%;
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
  max-width: 33.33%;
}

.flex_basis-50 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

.flex_basis-100 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo-img {
  max-width: 100px;
}

.header__link {
  font-family: "Yomogi", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  color: #fff;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  transition: ease-in .2s;
}

.header__link:hover {
  color: #FBD784;
}

.header__list {
  display: grid;
  justify-items: end;
}

.main {
  grid-area: main;
  padding: 10px 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 1fr;
}

.content__title {
  font-family: "Yomogi", sans-sarif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FBD784;
  text-align: center;
  padding-bottom: 20px;
}

.content__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  gap: 10px;
}

.content__img-wrapper_big {
  grid-column: span 2;
}

.sidebar {
  padding-top: 75px;
}

.sidebar__img {
  max-width: 200px;
  border-radius: 50%;
}

.sidebar__text {
  font-family: "Yomogi", sans-sarif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #FBD784;
  text-align: center;
  padding: 20px 0;
}

.sidebar__item {
  font-family: "Yomogi", sans-sarif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.footer {
  grid-area: footer;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  font-family: "Yomogi", sans-sarif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #FBD784;
}
